# --- Archivos de Python ---
__pycache__/
*.py[cod]
*$py.class

# --- Entornos Virtuales ---
venv/
env/
.env

# --- Jupyter Notebooks checkpoints ---
.ipynb_checkpoints

# --- IDEs (Configuraciones de tu editor de texto) ---
.vscode/
.idea/


# --- Logs y archivos de sistema ---
*.log
.DS_Store